@{
    ViewBag.Title = "商品档案列表";
    Layout = "~/Views/Shared/_ListLayout.cshtml";
}
@section toolbar{
    <table style="width: 100%;">
        <tr>
            <td style="width: 100%;">
                <a class="mini-button" iconcls="icon-add" onclick="editRow('')" plain="true">增加</a>
                <a class="mini-button" iconcls="icon-remove" onclick="remove()" plain="true">删除</a>
                <a class="mini-button" iconcls="icon-date-magnify" onclick="showSearchWindow()" plain="true">
                    筛选</a> <span class="separator"></span>
            </td>
            <td style="white-space: nowrap;">
                <input id="ifexame" class="mini-combobox" textField="text" valueField="id" value="" url="/Category/ExameItems" nullItemText="--是否审核--" emptyText="--是否审核--" onvaluechanged="search()"/>
                <input id="Id" class="mini-textbox" emptytext="请输入编码" style="width: 150px;" onenter="onKeyEnter" />
                <a class="mini-button" onclick="search()">查询</a>
            </td>
        </tr>
    </table>
    <div id="searchWindow" class="mini-window" title="高级筛选" style="width: 650px; height: 220px;"
        iconcls="icon-date-magnify" showmaxbutton="true" showtoolbar="true" showfooter="true"
        showmodal="false" allowresize="false" allowdrag="true">
        <div property="footer" style="text-align: right; padding: 5px; padding-right: 15px;">
            <a class="mini-button" iconcls="icon-zoom" onclick="advSearch()" style='vertical-align: middle;'>
                筛选</a>
        </div>
        <form id="frmAdv">
        <table class="edittable" border="1" cellpadding="0" cellspacing="0">
            <tr>
                <td style="width: 80px;">
                    店内码:
                </td>
                <td style="width: 120px;">
                    <input name="GoodsCode" class="mini-textbox" />
                </td>
                <td style="width: 80px;">
                    条形码:
                </td>
                <td style="width: 120px;">
                    <input name="GoodsBarCode" class="mini-textbox" />
                </td>
                <td style="width: 80px;">
                    商品简码:
                </td>
                <td style="width: 120px;">
                    <input name="GoodsSubCode" class="mini-textbox" />
                </td>
            </tr>
            <tr>
                <td>
                    大类:
                </td>
                <td>
                    <input name="GbCode" id="GbCode" class="mini-combobox" textfield="text" valuefield="id"
                        url="/category/GetFbPaGoodsGb/" shownullitem="true" />
                </td>
                <td>
                    中类:
                </td>
                <td>
                    <input name="GmCode" id="GmCode" class="mini-combobox" textfield="text" valuefield="id"
                        url="/Category/GetFbPaGoodsGm/" shownullitem="true" />
                </td>
                <td>
                    小类:
                </td>
                <td>
                    <input name="GsCode" id="GsCode" class="mini-combobox" textfield="text" valuefield="id"
                        url="/Category/GetFbPaGoodsGs/" shownullitem="true" />
                </td>
            </tr>
            <tr>
                <td>
                    细类:
                </td>
                <td>
                    <input name="GlCode" id="GlCode" class="mini-combobox" textfield="text" valuefield="id"
                        url="/Category/GetFbPaGoodsGl/" shownullitem="true" />
                </td>
                <td>
                    商品类型:
                </td>
                <td>
                    <input name="GoodsType" class="mini-textbox" />
                </td>
                <td>
                    核算方式:
                </td>
                <td>
                    <input name="CheckMode" class="mini-textbox" />
                </td>
            </tr>
            <tr>
                <td>
                    供货商:
                </td>
                <td>
                    <input name="SupCode" class="mini-textbox" />
                </td>
                <td>
                    经营方式:
                </td>
                <td>
                    <input name="OpCode" class="mini-textbox" />
                </td>
                <td>
                    扣率:
                </td>
                <td>
                    <input name="PoolRate" class="mini-spinner" decimalplaces="2" />
                </td>
            </tr>
            <tr>
                <td>
                    商品名称:
                </td>
                <td>
                    <input name="GoodsName" class="mini-textbox" />
                </td>
                <td>
                    商品简称:
                </td>
                <td>
                    <input name="GoodsSubName" class="mini-textbox" />
                </td>
                <td>
                    拼音码:
                </td>
                <td>
                    <input name="PyCode" class="mini-textbox" />
                </td>
            </tr>
        </table>
        </form>
    </div>
}
@section script
{
    <script type="text/javascript">
        mini.parse();
        function showSearchWindow() {
            var win = mini.get("searchWindow");
            win.show();
        }
        function advSearch() {
            var frm = new mini.Form("frmAdv");
            grid.load(frm.getData(true));
            var win = mini.get("searchWindow");
            win.hide();
        }
        function search() {
            grid.load({
                "Id": mini.get("#Id").value,
                "IfExamine": mini.get("#ifexame").value
            });
        }
        function editRow(id) {
            var winTitle = "商品档案:";
            if (isNaN(id) == true) {
                winTitle += grid.getSelected().SupName + " " + grid.getSelected().SupTel;
            }
            mini.open({
                url: "/Archives/GoodsEdit/" + id,
                title: winTitle,
                iconCls: "icon-user",
                allowResize: false,
                width: 700,
                height: 550,
                onload: function () {
                    //var iframe = this.getIFrameEl();
                    //var data = { action: "new" };
                    //iframe.contentWindow.SetData(data);
                },
                ondestroy: function (action) {

                    grid.reload();
                }
            });
        }
        function deleteItem(id) {
            $.ajax({
                url: "/Archives/GoodsDelete",
                data: { ids: id },
                success: function (text) {
                    grid.reload();
                },
                error: function () {
                }
            });
        }

        function exame(obj,id,old) {
            $.ajax({
                url: "/Archives/GoodsExame/" + id,
                success: function (j) {
                    if (j == true) {
                        if (old == true) {
                            $(obj).css("color", "red").text("否");
                        }
                        else {
                            $(obj).css("color", "green").text("是");
                        }
                    }
                    else {
                        alert("失败")
                    }
                },
                error: function () {
                    alert("失败")
                }
            });
        }
    </script>
}
<div id="datagrid1" class="mini-datagrid" url="/Archives/SearchGoodsArchiveList"
    style="width: 100%; height: 100%;" idfield="id" allowresize="false" sizelist="[20,30,50,100]"
    pagesize="20" multiselect="true">
    <div property="columns">
        <div type="indexcolumn" width="30">
        </div>
        <div type="checkcolumn" width="30">
        </div>
        <div field="Id" headeralign="center" align="center" width="60">
            店内码</div>
        <div field="GoodsName" headeralign="center" align="center" width="60">
            名称</div>
        <div field="GoodsBarCode" headeralign="center" align="center" width="60">
            条形码</div>
        <div field="GoodsSubCode" headeralign="center" align="center" width="60">
            简码</div>
        <div field="GbName" headeralign="center" align="center" width="60">
            大类</div>
        <div field="GmName" headeralign="center" align="center" width="60">
            中类</div>
        <div field="GsName" headeralign="center" align="center" width="60">
            小类</div>
        <div field="GlName" headeralign="center" align="center" width="60">
            细类</div>
        <div field="GoodsType" headeralign="center" align="center" width="60">
            类型</div>
        <div field="CheckMode" headeralign="center" align="center" width="60">
            核算方式</div>
        <div field="SupName" headeralign="center" align="center" width="60">
            供货商</div>
        <div name="action" width="120" headeralign="center" align="center" renderer="onActionRenderer"
            cellstyle="padding:0;">
            管理</div>
    </div>
</div>
